body {
  	font-family: 'ee88-rg', 'Open Sans', Arial, sans-serif;
    font-size: 15px;
}

.wraper {
	overflow: hidden;
    position: relative;
    min-height: 100%;
    width: 100%;
}

li {
    list-style: none;
}

a,input {
    color: #111;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #666;
    text-decoration: none;
}

a.btn {
    display: inline-block;
    *display: inline;
    *zoom:1;font-size: 12px;
    letter-spacing: normal;
    line-height: normal;
    color: #fff;
    padding: 9px 14px;
    background: #333;
    text-decoration: none;
    min-width: 90px;
    text-align: center;
}

a.btn:hover {
    background: #000;
}

a.btn2 {
    display: inline-block;
    *display: inline;
    *zoom:1;font-size: 12px;
    letter-spacing: normal;
    line-height: normal;
    color: #676767;
    padding: 7px 12px;
    border: 1px solid #333;
    text-decoration: none;
    min-width: 90px;
    text-align: center;
    background: #fff;
}

a.btn2:hover {
    border: 1px solid #000;
    color: #000;
}



.no-padd {
	padding : 0px !important;
}

.text-elip {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

#areaMenu {
	min-height: 500px;
	
}

#areaMenu > ul > li {
    padding: 10px 0;
}

#areaMenu > ul > li:first-child {
    padding: 20px 0 10px;
}

#areaMenu > ul > li > a {
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    color: #111;
    letter-spacing: 2px;
    font-family: 'ee88-rg', sans-serif;
}


.form-control {
	font-size: 18px;
}

.btn {
	font-size: 18px;
	padding: 10px 20px;
	font-weight: 700;
	letter-spacing: 2px;
}

.btn-black {
    background-color: #111;
	border: 1px solid #111;
	color: #fff;
}

.btn-black:hover {
	border: 1px solid #666;
    background: #666;
	color: #fff;
}

.btn-white {
    background-color: #fff;
	border: 1px solid #111;
	color: #111;
}

.btn-white:hover {
	border: 1px solid #666;
    background: #fff;
	color: #666;
}


.qtrans_flag_en {
    background: url(/img/en.png) no-repeat;
}

.qtrans_flag_th {
    background: url(/img/th.png) no-repeat;
}

.qtrans_flag_and_text {
	margin-top: 14px;
	width: 20px;
}

.swiper-paralax-container {
	width: 100%;
	height: 100%;
	background: #000;
}
.swiper-paralax-container .swiper-slide {
	font-size: 18px;
	color:#fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 60px;
}
.parallax-bg {
	position: absolute;
	left: 0;
	top: 40px;
	width: 130%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.swiper-paralax-container .swiper-slide .title {
	font-size: 41px;
	font-weight: 300;
}
.swiper-paralax-container .swiper-slide .subtitle {
	font-size: 21px;
}
.swiper-paralax-container .swiper-slide .text {
	font-size: 14px;
	max-width: 400px;
	line-height: 1.3;
}


.prod_name { font-size:18px;color:#000000;font-weight:bold; }
.prod_price { font-size:18px;color:#555555;font-style:italic; }

.lft { left:0px; }
.rht { right:0px; }

.logo-img {
	max-width:70px;
}

.pd0 {
	padding: 0px;
}


.pd10 {
	padding: 10px;
}

.pd20 {
	padding: 20px;
}

.pdt10 {
	padding-top: 10px;
}

.pdlr10 {
	padding: 0 10px;
}

.pdlr20 {
	padding: 0 20px;
}

.pdb10 {
	padding-bottom: 10px;
}

.mgr10 {
	margin-right: 10px;
}

.mgt60 {
	margin-top: 60px;
}

.ftr {
	float: right;
}

.body_contain {
	margin-top: 20px;
}

#wrap #fixo_content {
    position: relative;
    padding: 0;
}


.flexslider {
	margin: 0 0 0px;
}


#fixoMainSlide {
    position: relative;
    margin: 0 0 3.1%;
	margin-bottom: 5%;
}

#fixoMainSlide .swiper-slide-container img {
    width: 100%;
}

#fixoMainSlide .pagination {
    position: absolute;
    z-index: 10;
    margin: 0;
    bottom: 10px;
    left: 0;
    height: 10px;
    text-align: center;
    width: 100%;
}

#fixoMainSlide .pagination .swiper-pagination-bullet {
    background: url(/postfixo/images/btn_navi.png) -10px 0;
    background-size: auto 10px;
    vertical-align: top;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    opacity: 1;
}

#fixoMainSlide .pagination .swiper-pagination-bullet-active {
    background-position: 0 0;
}


#fixoSlide {
    position: relative;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
    width: 100%;
    height: 850px;
}


#fixoSlide .slides li.slides_bg1 {
    background: #f9ebf3;
}

#fixoSlide .slides li.slides_bg2 {
    background: #e6e3e5;
}

#fixoSlide .slides li .box {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

#fixoSlide .slides li .box .left_content {
    position: absolute;
    top: 25%;
    left: 50px;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

#fixoSlide .slides li .box .right_content {
    position: relative;
    top: 0;
    right: -100px;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
}

#fixoSlide .slides li .box .img {
    margin-bottom: 20px;
}

#fixoSlide .slides li .box .img img {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
    zoom:1;}

#fixoSlide .slides li .box h3 {
    font-size: 50px;
    font-weight: 400;
    color: #313031;
    line-height: 54px;
}

#fixoSlide .slides li .box h3 span {
    font-weight: 700;
}

#fixoSlide .slides li .box .sub_txt {
    margin: 10px 0 30px;
    font-size: 20px;
    line-height: 24px;
}

#fixoSlide .slides li .box .btn a {
    display: block;
    width: 150px;
    height: 40px;
    background: #55565a;
    font-size: 13px;
    color: #fff;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: center;
}

#fixoSlide .slides li .box .btn a:hover {
    background: #000000;
}

#fixoSlide .flex-direction-nav {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1100px;
    height: 850px;
    margin: 0 -550px;
}

#fixoSlide .flex-direction-nav .flex-prev,#fixoSlide .flex-direction-nav .flex-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 31px;
    height: 62px;
    display: block;
    cursor: pointer;
    opacity: 1;
    font-size: 0;
    line-height: 0;
}

#fixoSlide .flex-direction-nav .flex-prev {
    background: url(http://16brand.com/postfixo/images/main_visual_left.png) no-repeat center;
    left: 0;
}

#fixoSlide .flex-direction-nav .flex-next {
    background: url(http://16brand.com/postfixo/images/main_visual_right.png) no-repeat center;
    right: 0;
}

#fixoSlide .flex-control-nav {
    position: absolute;
    bottom: 35px;
    left: 50%;
    z-index: 10;
    width: 1100px;
    height: 15px;
    margin: 0 -550px;
    text-align: center;
}

#fixoSlide .flex-control-nav li {
    display: inline-block;
    margin: 0 5px;
    font-size: 0;
    letter-spacing: 0;
    line-height: 0;
}

#fixoSlide .flex-control-nav li a {
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}

#fixoSlide .flex-control-nav li a.flex-active {
    background: #424242;
}

.flex-direction-nav a:before {
    content: '';
}

.flex-direction-nav a.flex-next:before {
    content: '';
}

.flexslider {
	border: none;
}

#fixoHeader .section .top {
    letter-spacing: -0.01em;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
}

#fixoHeader .section .top .inner {
    width: 100%;
    position: relative;
    height: 60px;
    overflow: hidden;
}

#fixoHeader .section .top .inner .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70)
}

#fixoHeader .section .top .gnb {
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

#fixoHeader .section .top .gnb > li {
    float: left;
    position: relative;
    text-align: left;
}

#fixoHeader .section .top .gnb > li > a {
    display: block;
    height: 60px;
    line-height: 60px;
    color: #363636;
    font-size: 20px;
    padding: 0 25px;
    transition: 0.3s;
    font-weight: bold;
}

#fixoHeader .section .top .gnb > li:hover > a,#fixoHeader .section .top .gnb > li.active > a {
    color: #ff7db9;
}

#fixoHeader .section .top .gnb li ul {
    position: absolute;
    left: 0;
    top: 60px;
    padding-left: 25px;
}

#fixoHeader .section .top .gnb li ul li {
    letter-spacing: -0.01em;
}

#fixoHeader .section .top .gnb li ul li a {
    display: block;
    font-size: 13px;
    color: #636363;
    white-space: nowrap;
    line-height: 20px;
}

#fixoHeader .section .top .gnb li ul li:hover a,#fixoHeader .section .top .gnb li ul li.active a {
    text-decoration: underline;
    color: #000000;
}

#fixoFooter {
    margin: 0;
    background: #262626;
    padding: 0 0 30px;
    border-top: 1px solid #d0d0d0;
    text-align: center;
    color: #848585;
    font-size: 15px;
}


#fixoFooter .xans-layout-logobottom {
    float: left;
    padding: 25px 60px 0 0;
    text-align: center;
}

#fixoFooter .xans-layout-footer #address {
    padding: 40px 0 5px;
    color: #b6b6b6;
    font-size: 17px;
    line-height: 17px;
}

#fixoFooter .xans-layout-footer #copy {
    padding-bottom: 10px;
    color: #bfbfbf;
}

#fixoFooter .xans-layout-footer #address span {
    padding-right: 15px;
}

#fixoFooter .xans-layout-footer #address span a {
    color: #b6b6b6;
}

#fixoGridContent.prdList .name {
    padding: 0 10px;
}



#headImg {
    width: 100%;
    height: 488px;
    margin: 0 0 12px;
    position: relative;
    overflow: hidden;
}

#headImg .over_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 488px;
}

#headImg .txt {
    position: relative;
    z-index: 2;
    width: 1100px;
    margin: 0 auto;
    text-align: left;
}

#headImg .txt .mt {
    display: block;
    font-size: 34px;
    color: #242424;
    font-weight: 900;
    line-height: 30px;
    margin-top: 70px;
    margin-bottom: 10px;
}

#headImg .txt .subt {
    display: block;
    font-size: 16px;
    color: #242424;
    line-height: 17px;
}

#headImg .top_img {
    height: 488px;
    text-align: center;
    padding: 245px 0 0 0;
    background-size: auto auto !important;
    display: none;
}

#headImg .topimg_menu02 .txt,#headImg .topimg_menu03 .txt,#headImg .topimg_menu04 .txt {
    display: none;
}

#headImg .top_img_brand {
    height: 967px;
    text-align: center;
    padding: 245px 0 0 0;
    background-size: auto auto !important;
    display: none;
}


#headImg .top_img_prod {
    background: #fbecf4 url("/xxx") no-repeat center 0;
}


.prdList { /* Masonry container */
	margin: 1.5em 0;
	padding: 0;
	-moz-column-gap: 1.5em;
	-webkit-column-gap: 1.5em;
	column-gap: 1.5em;
	font-size: .85em;
}

.prdList .name {
    margin: 10px 0;
}

.prdList div.item .box {
    margin: 0 auto;
	padding: 0px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: normal;
}

.item {
	margin: 0px;
	padding: 6px;
}

#wrap {
    width: 100%;
    margin: 0 auto;
}

.tit {
    font-size: 25px;
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 700;
    color: #242424;
}


.tit_area {
    padding: 30px 0 20px;
    text-align: center;
    font-family: 'ee88-rg', sans-serif;
}

.tit_area h2 {
    display: block;
    letter-spacing: 4px;
    font-weight: 700;
    color: #111;
    line-height: 20px;
}

.tit_area h2 span {
    font-weight: 400;
}

.tit_area span.subTit {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #999;
}

.breadcrumb {
	background-color: #fff;
	padding: 0px 5px 15px 5px;
	border-bottom: 1px solid #e8e8e8;
	font-size: 18px;
}

.function {
    overflow: hidden;
    text-align: right;
    line-height: 38px;
    border-top: 1px solid #333;
}

.prdCount {
    float: left;
    padding: 0 0 0 10px;
    color: #111;
    letter-spacing: 1px;
}

.prdCount strong {
    color: #000;
}

.sw_bar {
	position: relative;
	background: #fff; 
	border-bottom: 1px solid #e5e5e5;
}


#titleArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

#titleArea h2 {
    padding: 0 61px;
    line-height: 43px;
    font-size: 15px;
    color: #111;
    text-align: center;
    border-bottom: 1px solid #dbdcdc;
}

#titleArea .h4 {
	border-bottom: 1px solid #dbdcdc;
	height: 33px;
	color: #111;
}

#titleArea span {
    position: absolute;
    top: 3px;
    left: 14px;
}

#titleArea span.glyphicon  {
	border: 1px solid #dbdcdc;
	font-size: 14px;
	color: #898e8e;
	padding: 6px;
}

#titleArea span.sale,#titleArea span.best {
    position: relative;
    top: 0;
    left: 0;
}

#fixoFooter .ft_sc1 div {
	width: 12px;
	height: 23px;
	background: url(../../img/layout/icon_social.png) no-repeat scroll 0 -185px transparent
}

#fixoFooter .ft_sc2 div {
	background: url(../../img/layout/icon_social.png) no-repeat scroll -17px -185px transparent;
	width: 27px;
	height: 25px;
	display: block
}

#fixoFooter .ft_sc3 div {
	background: url(../../img/layout/icon_social.png) no-repeat scroll -48px -185px transparent;
	width: 23px;
	height: 23px
}

#fixoFooter .ft_sc4 div {
	background: url(../../img/layout/icon_social.png) no-repeat scroll -76px -185px transparent;
	width: 29px;
	height: 21px
}

#fixoFooter .ft_sc1 a:hover div {
	background: url(../../img/layout/icon_social.png) no-repeat scroll 0 -212px transparent
}

#fixoFooter .ft_sc2 a:hover div {
	background: url(../../img/layout/icon_social.png) no-repeat scroll -17px -212px transparent
}

#fixoFooter .ft_sc3 a:hover div {
	background: url(../../img/layout/icon_social.png) no-repeat scroll -48px -212px transparent
}

#fixoFooter .ft_sc4 a:hover div {
	background: url(../../img/layout/icon_social.png) no-repeat scroll -76px -212px transparent
}



footer {
    margin: 40px 0;
}

footer .quick_menu {
    margin: 0 0 30px;
    border: 0;
}

footer .quick_menu li {
    float: left;
    width: 25%;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-left: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

footer .quick_menu li:first-child {
    border-top: 1px solid #e5e5e5;
}

footer .quick_menu li:nth-child(4),footer .quick_menu li:nth-child(8) {
    border-right: 0;
}

footer .quick_menu li:nth-child(1),footer .quick_menu li:nth-child(2),footer .quick_menu li:nth-child(3),footer .quick_menu li:nth-child(4) {
    border-bottom: 0;
}

footer .quick_menu li a {
    display: block;
    padding: 40px 0 10px;
    font-size: 11px;
    background-repeat: no-repeat;
    background-position: 50% 12px;
    background-size: auto 24px;
}

footer .quick_menu li a:after {
    background-image: none;
}

footer .quick_menu li:nth-child(1) a {
    background-image: url(/postfixo/images/common/icon_quick_notice.png);
}

footer .quick_menu li:nth-child(2) a {
    background-image: url(/postfixo/images/common/icon_quick_qna.png);
}

footer .quick_menu li:nth-child(3) a {
    background-image: url(/postfixo/images/common/icon_quick_review.png);
}

footer .quick_menu li:nth-child(4) a {
    background-image: url(/postfixo/images/common/icon_quick_mypage.png);
}

footer .quick_menu li:nth-child(5) a {
    background-image: url(/postfixo/images/common/icon_quick_cart.png);
}

footer .quick_menu li:nth-child(6) a {
    background-image: url(/postfixo/images/common/icon_quick_wish.png);
}

footer .quick_menu li:nth-child(7) a {
    background-image: url(/postfixo/images/common/icon_quick_order.png);
}

footer .quick_menu li:nth-child(8) a {
    background-image: url(/postfixo/images/common/icon_quick_pcver.png);
}

footer .policy {
    text-align: center;
    margin: 0 0 30px;
    font-family: 'ee88-rg', sans-serif;
}

footer .policy li,footer .policy li a {
    display: inline-block;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: normal;
}

footer .policy li:nth-child(2) {
    margin: 0 15px;
}

footer .policy li:nth-child(2) a {
    color: #111;
    font-weight: 700;
}

footer .btSnsLink {
    text-align: center;
}

footer .btSnsLink li {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
}

footer .btSnsLink li a {
    display: block;
}

footer .btSnsLink li img {
    width: auto;
    height: 15px;
}

footer .cs_center {
    margin: 20px 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    color: #222;
    letter-spacing: 2px;
    line-height: 16px;
}

footer .cs_center .num_tel {
    margin-bottom: 20px;
    font-family: 'ee88-rg', sans-serif;
}

footer .cs_center .num_tel,footer .cs_center .num_tel a {
    font-size: 20px;
    font-weight: 700;
    color: #222;
    letter-spacing: 2px;
}

footer .cs_center span {
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    color: #222;
    letter-spacing: 2px;
    line-height: 16px;
}

@media screen and (max-width: 480px) {
    footer .cs_center span {
        display:block;
    }

    footer .cs_center .horizontal {
        display: none;
    }

    footer .cs_center .csCenter {
        padding-bottom: 10px;
    }

    footer .cs_center .bankinfo {
        padding-top: 10px;
    }
}

footer .line {
    width: 130px;
    height: 1px;
    margin: 0 auto;
    background: #e5e5e5;
}


address {
    margin: 30px 0 0 0;
}

address,address a {
    text-align: center;
    font-size: 11px;
    color: #999;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 18px;
}

address span,address span a {
    color: #3c3c3c;
}

address p {
    margin: 10px 0;
}

address p.copy {
    color: #999;
}

address p.design,address p.design a {
    color: #999;
}

.body_contain {
	position: relative;
}

.ft_bx_social {
    padding: 20px 0 5px;
}


.contact-icon {
    color: #818285;
    font-size: 38px;
    position: absolute;
}

.contact-r-detail {
	float:left;
	margin-left: 55px;
}



.xans-product-detail {
    position: relative;
    padding: 80px 0 30px;
	margin: 0 0 50px;
    border-bottom: 1px solid #e5e5e5;
}

.product-tabs {
	font-size: 18px;
	margin-bottom: 100px;
}


.product-tabs .nav-tabs {
    border-bottom-color: #2c2c2c;
}

.product-tabs .nav-tabs>li>a {
    margin-right: 0px;
    border-radius: 0px 0px 0 0;
	border-color: #eee #eee #2c2c2c #ddd;
	border-top: 2px solid #eee;
}

.product-tabs .nav-tabs>li:first-child>a {
	border-left: 2px solid #eee;
}

.product-tabs .nav-tabs>li:last-child>a {
	border-right: 2px solid #eee;
}


.product-tabs .nav-tabs>li.active>a, .product-tabs .nav-tabs>li.active>a:focus {
	border: 1px solid #2c2c2c;
	border-bottom: 2px solid #fff;
	font-weight: 700;
}

.product-tabs .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff; 
}

.product-tabs .nav-tabs>li>a:hover {
   
}

.product-tabs .tab-content {
	margin-top: 25px;
	padding: 0 25px;
}

.xans-product-detail .infoArea {
    float: left;
}

.xans-product-detail .infoArea h3 {
    padding: 0 0 0px 10px;
    font-size: 20px;
    color: #111;
	font-weight: 600;
    word-break: break-all;
    letter-spacing: 1px;
}

.xans-product-detail .infoArea h3 span {
    font-weight: normal;
    font-size: 12px;
}

.xans-product-detail .infoArea .icon {
    padding: 0 0 0 10px;
}

.xans-product-detail .infoArea .icon img {
    margin: 0 5px 10px 0;
    vertical-align: middle;
}

.xans-product-detail .infoArea p.delivery {
    padding: 10px 0 20px;
}

.xans-product-detail .infoArea .guideArea {
    position: relative;
}

.xans-product-detail .infoArea .guideArea .info {
    margin: 7px 0 0;
    padding: 8px 0 0 11px;
    border-top: 1px solid #e8e8e8;
    color: #757575;
}


.xans-product-detail .infoArea .sizeGuide a:hover {
    text-decoration: none;
}

.xans-product-detail .infoArea .color {
    overflow: hidden;
    margin: 4px 0 10px 0;
}

.xans-product-detail .infoArea .chips {
    float: left;
    width: 14px;
    height: 14px;
    margin: 0 3px 0 0;
    border: 1px solid #e3e3e3;
    font-size: 0;
    line-height: 0;
}

.xans-product-detail .infoArea .infoTxt {
    border-bottom: 1px solid #e8e8e8;
    padding: 7px 0 7px 9px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    color: #999;
    font-size: 17px;
    line-height: 1.8;
}

.xans-product-detail .p-detail {
	font-size: 18px;
	padding: 0 0 0px 10px;
}

.xans-product-detail .product-tag {
	margin-top: 20px;
	font-weight: 600;
	font-size: 16px;
	border-bottom: 1px solid #e8e8e8;
    padding: 7px 0 7px 9px;
    padding-bottom: 25px;
}

.xans-product-detail .product-color {
	margin-top: 15px;
	font-weight: 600;
	font-size: 16px;
}

.xans-product-detaildesign tr:first-child {
    display: none;
}

.xans-product-detail .infoArea table {
    border: 0;
    font-size: 11px;
}

.xans-product-detail .infoArea th {
    font-weight: normal;
    color: #555;
    width: 115px;
    padding: 7px 0 7px 9px;
    text-align: left;
    vertical-align: middle;
}

.xans-product-detail .infoArea td {
    padding: 7px 10px 7px 0;
    vertical-align: top;
}

.xans-product-detail .infoArea td input {
    height: 22px;
    color: #555;
    border: 1px solid #bcbcbc;
}

.xans-product-detail .infoArea td select {
    width: 100%;
    height: 24px;
    font-size: 12px;
    color: #353535;
}

.xans-product-detail .infoArea td #delivery_cost_prepaid {
    margin: 0 0 5px;
}

.xans-product-detail .infoArea td .inputWrap {
    display: block;
    padding: 0 4px;
    border: 1px solid #c5c5c5;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
}

.xans-product-detail .infoArea td .inputWrap input {
    width: 100%;
    border: 0;
    font-size: 11px;
    line-height: 22px;
}

.xans-product-detail .infoArea td.social {
}

.xans-product-detail .infoArea td.social img {
    vertical-align: middle;
    cursor: pointer;
}

.xans-product-detail .infoArea td .sale {
    text-decoration: line-through;
}

.xans-product-detail .infoArea td .period {
    display: block;
    margin: 7px 0 0;
    font-size: 11px;
    color: #353535;
}

.xans-product-detail .infoArea td .mileage li {
    line-height: 1.7em;
}

.xans-product-detail .infoArea td .quantity {
    position: relative;
    display: block;
}

.xans-product-detail .infoArea td .quantity input {
    width: 30px;
    height: 18px;
    border: 1px solid #bcbcbc;
}

.xans-product-detail .infoArea td .quantity .QuantityUp {
    position: absolute;
    left: 32px;
    top: 0;
}

.xans-product-detail .infoArea td .quantity .QuantityDown {
    position: absolute;
    left: 32px;
    bottom: 0;
}

.xans-product-detail .infoArea td .delivery input {
    border: 0;
}

.xans-product-detail .infoArea td .delivery label {
    margin: 0 30px 0 0;
}

.xans-product-detail .infoArea td img.qrcode {
    border: 1px solid #e1e1e1;
}

.xans-product-detail .infoArea td.fileInfo {
    color: #757575;
}

.xans-product-detail .infoArea td.fileInfo input {
    width: 288px;
    border: 1px solid #c5c5c5;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.xans-product-detail .infoArea td.fileInfo .infoDesc {
    margin: 0 0 10px 0;
}

.xans-product-detail .infoArea td.fileInfo li {
    margin: 4px 0 0;
    color: #757575;
    font-size: 11px;
}

.xans-product-detail .infoArea td.fileInfo li img {
    vertical-align: bottom;
}

.xans-product-detail .delv_price_B strong {
    font-weight: normal;
}

.xans-product-detail .btnTooltip {
    display: inline-block;
    position: relative;
    z-index: 10;
    vertical-align: middle;
    *display: inline;
    *zoom:1;}

.xans-product-detail .infoArea .xans-product-option tr th {
    padding: 7px 0 7px 9px;
}

.xans-product-detail .infoArea .xans-product-option tr td {
    padding: 7px 10px 7px 0;
}

.xans-product-detail .infoArea .xans-product-option tr:first-child th {
    padding-top: 14px;
    border-top: 1px solid #e8e8e8;
}

.xans-product-detail .infoArea .xans-product-option tr:first-child td {
    padding-top: 14px;
    border-top: 1px solid #e8e8e8;
}

.xans-product-detail .infoArea .xans-product-addoption td .inputWrap {
    display: inline-block;
    width: 280px;
}

.xans-product-detail .infoArea .xans-product-addoption .txtByte {
    font-size: 11px;
    vertical-align: middle;
    letter-spacing: -1px;
}

.xans-product-detail .infoArea .xans-product-addoption .txtByte strong {
    color: #000;
}

.xans-product-action {
    padding: 30px 0 0;
    border-top: 1px solid #e8e8e8;
    text-align: center;
}

.xans-product-action .btnArea {
    overflow: hidden;
}

.xans-product-action .btnArea a {
    display: inline-block;
    font-size: 14px;
    letter-spacing: normal;
    line-height: normal;
    font-weight: 700;
    color: #222;
    letter-spacing: 2px;
    padding: 10px 0;
    margin: 0 0 0 20px;
    border: 1px solid #c4c4c4;
    text-decoration: none;
    width: 136px;
}

.xans-product-action .btnArea a:hover {
    border: 1px solid #666;
    color: #666;
}

.xans-product-action .btnArea a.first {
    border: 1px solid #111;
    background: #111;
    color: #fff;
    width: 176px;
    margin: 0;
}

.xans-product-action .btnArea a.first:hover {
    border: 1px solid #666;
    background: #666;
}

.xans-product-action .btnArea span {
    display: inline-block;
    font-size: 12px;
    letter-spacing: normal;
    line-height: normal;
    font-weight: 700;
    color: #000;
    letter-spacing: 2px;
    padding: 12px 0;
    margin: 0 8px;
    border: 1px solid #c4c4c4;
    background: #c4c4c4;
    text-decoration: none;
    width: 140px;
}

.xans-product-multioption {
    border-top: 1px solid #ebebeb;
}

.xans-product-multioption div {
    border-top: 1px solid #ebebeb;
    margin: 10px 0 0;
}

.xans-product-multioption p {
    padding: 10px 0;
    text-align: right;
}

.xans-product-detail .eventArea {
    color: #353535;
}

.xans-product-detail .eventArea h3 {
    padding: 0 0 0 9px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-size: 12px;
    color: #000;
    line-height: 39px;
    display: none;
}

.xans-product-detail .eventArea .event {
    color: #353535;
    line-height: 18px;
}

.xans-myshop-benefit {
    margin: 30px 0;
    border: 1px solid #d6d4d4;
}

.xans-myshop-benefit .thanks {
    padding: 7px 0 11px 9px;
    border-bottom: 1px solid #e8e7e7;
    color: #353535;
    background: #fbfbfb;
    text-align: left;
}

.xans-myshop-benefit .thanks img {
    margin: -1px 6px 0 0;
    vertical-align: middle;
}

.xans-myshop-benefit .myInfo {
    overflow: hidden;
    padding: 9px 10px 10px 100px;
}

.xans-myshop-benefit .myInfo p {
    color: #757575;
    line-height: 18px;
    text-align: left;
}

.xans-myshop-benefit .myThumb {
    float: left;
    margin: 0 0 0 -91px;
}

.xans-myshop-benefit .myThumb img {
    max-width: 70px;
}

.xans-myshop-benefit .member {
    margin: 2px 0 19px;
    text-align: left;
}

.xans-myshop-benefit .member strong {
    color: #353535;
}

.xans-myshop-benefit .member em {
    font-style: normal;
    color: #353535;
}



@media (max-width: 767px) {
	
	.logo {
		border-bottom: 1px solid #e5e5e5;
		padding-top: 0px;
	}

    .logo img {
		margin: 5px auto;
		max-width: 50px;
	}	

	.body_contain {
		margin: 0px;
	}

	.prdList { /* Masonry container */
		margin: 3.5em 0;
		padding: 0;
		-moz-column-gap: 3.5em;
		-webkit-column-gap: 3.5em;
		column-gap: 3.5em;
		font-size: .85em;
	}
}


@media screen and (max-width: 480px)  
{
    .logo {
		padding-top: 45px;
	} 

	.body_contain {
		margin: 0px;
	}

	.tit_area h3 {
		font-size: 18px;
	}

}

@font-face {
    font-family: ee88-rg;
    src: url(/fonts/EityEight_Regular_ver_1_00.otf) format('opentype');
	font-weight: normal;
}

@font-face {
    font-family: ee88-li;
    src: url(/fonts/EityEight_Light_ver_1_00.otf) format('opentype');
	font-weight: lighter;
}

@font-face {
    font-family: ee88-bd;
    src: url(/fonts/EityEight_Bold_ver_1_00.otf) format('opentype');
	font-weight: bold;
}