body {
  	font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
}

.wraper {
	overflow: hidden;
    position: relative;
    min-height: 100%;
    width: 100%;
}

li {
    list-style: none;
}

a,input {
    color: #111;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #666;
    text-decoration: none;
}

a.btn {
    display: inline-block;
    *display: inline;
    *zoom:1;font-size: 12px;
    letter-spacing: normal;
    line-height: normal;
    color: #fff;
    padding: 9px 14px;
    background: #333;
    text-decoration: none;
    min-width: 90px;
    text-align: center;
}

a.btn:hover {
    background: #000;
}

a.btn2 {
    display: inline-block;
    *display: inline;
    *zoom:1;font-size: 12px;
    letter-spacing: normal;
    line-height: normal;
    color: #676767;
    padding: 7px 12px;
    border: 1px solid #333;
    text-decoration: none;
    min-width: 90px;
    text-align: center;
    background: #fff;
}

a.btn2:hover {
    border: 1px solid #000;
    color: #000;
}



.no-padd {
	padding : 0px !important;
}

#areaMenu {
	min-height: 500px;
	
}

#areaMenu > ul > li {
    padding: 10px 0;
}

#areaMenu > ul > li:first-child {
    padding: 20px 0 10px;
}

#areaMenu > ul > li > a {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: #111;
    letter-spacing: 2px;
    font-family: 'Roboto',"Nanum Gothic",Gulim,sans-serif;
}

.qtrans_flag_en {
    background: url(/img/en.png) no-repeat;
}

.qtrans_flag_th {
    background: url(/img/th.png) no-repeat;
}

.qtrans_flag_and_text {
	margin-top: 14px;
	width: 20px;
}

.swiper-paralax-container {
	width: 100%;
	height: 100%;
	background: #000;
}
.swiper-paralax-container .swiper-slide {
	font-size: 18px;
	color:#fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 60px;
}
.parallax-bg {
	position: absolute;
	left: 0;
	top: 40px;
	width: 130%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.swiper-paralax-container .swiper-slide .title {
	font-size: 41px;
	font-weight: 300;
}
.swiper-paralax-container .swiper-slide .subtitle {
	font-size: 21px;
}
.swiper-paralax-container .swiper-slide .text {
	font-size: 14px;
	max-width: 400px;
	line-height: 1.3;
}


.logo-img {
	max-width:70px;
}

.pd10 {
	padding: 10px;
}

.pd20 {
	padding: 20px;
}

.pdt10 {
	padding-top: 10px;
}

.pdlr10 {
	padding: 0 10px;
}

.pdlr20 {
	padding: 0 20px;
}

.mgr10 {
	margin-right: 10px;
}

.mgt60 {
	margin-top: 60px;
}



@media (max-width: 767px) {
	
	.logo {
		border-bottom: 1px solid #e5e5e5;
		padding-top: 0px;
	}

    .logo img {
		margin: 5px auto;
		max-width: 50px;
	}	
}


@media screen and (max-width: 480px)  
{
    .logo {
		padding-top: 45px;
	} 
}
#wrap #fixo_content {
    position: relative;
    padding: 0;
}

#fixoMainSlide {
    position: relative;
    margin: 0 0 3.1%;
}

#fixoMainSlide .swiper-slide-container img {
    width: 100%;
}

#fixoMainSlide .pagination {
    position: absolute;
    z-index: 10;
    margin: 0;
    bottom: 10px;
    left: 0;
    height: 10px;
    text-align: center;
    width: 100%;
}

#fixoMainSlide .pagination .swiper-pagination-bullet {
    background: url(/postfixo/images/btn_navi.png) -10px 0;
    background-size: auto 10px;
    vertical-align: top;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    opacity: 1;
}

#fixoMainSlide .pagination .swiper-pagination-bullet-active {
    background-position: 0 0;
}


#fixoSlide {
    position: relative;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
    width: 100%;
    height: 850px;
}

#fixo_content {
	background: #f9ebf3;
}

#fixoSlide .slides li.slides_bg1 {
    background: #f9ebf3;
}

#fixoSlide .slides li.slides_bg2 {
    background: #e6e3e5;
}

#fixoSlide .slides li .box {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

#fixoSlide .slides li .box .left_content {
    position: absolute;
    top: 25%;
    left: 50px;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

#fixoSlide .slides li .box .right_content {
    position: relative;
    top: 0;
    right: -100px;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
}

#fixoSlide .slides li .box .img {
    margin-bottom: 20px;
}

#fixoSlide .slides li .box .img img {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
    zoom:1;}

#fixoSlide .slides li .box h3 {
    font-size: 50px;
    font-weight: 400;
    color: #313031;
    line-height: 54px;
}

#fixoSlide .slides li .box h3 span {
    font-weight: 700;
}

#fixoSlide .slides li .box .sub_txt {
    margin: 10px 0 30px;
    font-size: 20px;
    line-height: 24px;
}

#fixoSlide .slides li .box .btn a {
    display: block;
    width: 150px;
    height: 40px;
    background: #55565a;
    font-size: 13px;
    color: #fff;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: center;
}

#fixoSlide .slides li .box .btn a:hover {
    background: #000000;
}

#fixoSlide .flex-direction-nav {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1100px;
    height: 850px;
    margin: 0 -550px;
}

#fixoSlide .flex-direction-nav .flex-prev,#fixoSlide .flex-direction-nav .flex-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 31px;
    height: 62px;
    display: block;
    cursor: pointer;
    opacity: 1;
    font-size: 0;
    line-height: 0;
}

#fixoSlide .flex-direction-nav .flex-prev {
    background: url(http://16brand.com/postfixo/images/main_visual_left.png) no-repeat center;
    left: 0;
}

#fixoSlide .flex-direction-nav .flex-next {
    background: url(http://16brand.com/postfixo/images/main_visual_right.png) no-repeat center;
    right: 0;
}

#fixoSlide .flex-control-nav {
    position: absolute;
    bottom: 35px;
    left: 50%;
    z-index: 10;
    width: 1100px;
    height: 15px;
    margin: 0 -550px;
    text-align: center;
}

#fixoSlide .flex-control-nav li {
    display: inline-block;
    margin: 0 5px;
    font-size: 0;
    letter-spacing: 0;
    line-height: 0;
}

#fixoSlide .flex-control-nav li a {
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}

#fixoSlide .flex-control-nav li a.flex-active {
    background: #424242;
}

.flex-direction-nav a:before {
    content: '';
}

.flex-direction-nav a.flex-next:before {
    content: '';
}

.flexslider {
	border: none;
}

#fixoHeader .section .top {
    letter-spacing: -0.01em;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
}

#fixoHeader .section .top .inner {
    width: 100%;
    position: relative;
    height: 60px;
    overflow: hidden;
}

#fixoHeader .section .top .inner .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70)
}

#fixoHeader .section .top .gnb {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

#fixoHeader .section .top .gnb > li {
    float: left;
    position: relative;
    text-align: left;
}

#fixoHeader .section .top .gnb > li > a {
    display: block;
    height: 60px;
    line-height: 60px;
    color: #363636;
    font-size: 15px;
    padding: 0 25px;
    transition: 0.3s;
    font-weight: 700;
}

#fixoHeader .section .top .gnb > li:hover > a,#fixoHeader .section .top .gnb > li.active > a {
    color: #ff7db9;
}

#fixoHeader .section .top .gnb li ul {
    position: absolute;
    left: 0;
    top: 60px;
    padding-left: 25px;
}

#fixoHeader .section .top .gnb li ul li {
    letter-spacing: -0.01em;
}

#fixoHeader .section .top .gnb li ul li a {
    display: block;
    font-size: 13px;
    color: #636363;
    white-space: nowrap;
    line-height: 20px;
}

#fixoHeader .section .top .gnb li ul li:hover a,#fixoHeader .section .top .gnb li ul li.active a {
    text-decoration: underline;
    color: #000000;
}

#wrap {
    width: 100%;
    margin: 0 auto;
}