
header{
	position:relative;
	z-index:2;
	background: -moz-linear-gradient(90deg, rgba(0,24,61,0) 0%, rgba(0,24,61,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,24,61,1)), color-stop(100%, rgba(0,24,61,0))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(0,24,61,0) 0%, rgba(0,24,61,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(0,24,61,0) 0%, rgba(0,24,61,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(0,24,61,0) 0%, rgba(0,24,61,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(0,24,61,0) 0%, rgba(0,24,61,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00183d', endColorstr='#00183d',GradientType=0 ); /* ie6-9 */
}

.navbar {
	height: 40px;
	min-height: 40px; 
	margin-bottom: 0px;
	border-radius: 0px; 
}

.navbar-inverse {
	border-radius: 0px; 
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav a, .navbar-inverse .navbar-nav>.open>a {
	height: 40px;
	line-height: 40px;
    display: inline-block;
    width: 100px;
    font-family: 'ee88-rg',sans-serif,arial;
    font-size: 16px;
    color: #9c9b9b;
    text-align: center;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #111;
    background-color: #fff;
}

.navbar-inverse .navbar-nav a:focus, .navbar-inverse .navbar-nav li>a:hover {
    color: #111;
    background-color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 3px;
	margin-left: 5px;
	background-color: #fff;
	/* background-image: none; */
	/* border: 1px solid transparent; */
	border-radius: 0px;
	color: #111;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #111;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}


@media (max-width: 767px) {
    .navbar-inverse {
		background-image: none;
		background-color: #fff;
		border-color: #e5e5e5;
	}

	.navbar-inverse .navbar-toggle {
		border-color: #fff;
	}
	
	.navbar-offcanvas {
		background: #fff;
	}

	.navbar {
		border-radius: 0px; 
	}

}


@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    border: none;
  }

	#fixoHeader {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 200;
	}

}

@media screen and (max-width: 480px)  
{
    nav.navbar
    {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		z-index: 1030;
		width: 100%;
    }   
}


.dimmed {
    display: none;
    position: fixed;
    left: 0px;
    top: 0;
    right: 0px;
    bottom: 0px;
    z-index: 150;
    background: rgba(0,0,0,0.7);
}

#dimmedSlider {
    display: none;
    position: fixed;
    left: 0px;
    top: 0;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    background: rgba(0,0,0,0.7);
}

.offcanvas-stop-scrolling #dimmedSlider {
	display: block;
}

.fl a {
	height: 20px;
}

header .inner li {
	float: left;
	margin-left: 17px;
}

header .inner li a {
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 0 5px;
	
	color: #747474;
}

header .inner li a.txt{
	height: 40px;
}


.swiper-container .swiper-slide {
	display: block;
	line-height: 32px;
	text-align: center;
	color: #222;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 1px;
}

.swiper-button-black {
	background-color: #333;
}

.swiper-arrow {
    position: absolute;
    top: 8px;
	z-index: 3;
	color:#cfcfcf;
}

#fixoHeader {
	left: 0;
	top: 0;
	width: 100%;
	z-index: 200;
}

.swiper {
	text-transform: uppercase;
}