


.navbar {
	height: 40px;
	min-height: 40px; 
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav a, .navbar-inverse .navbar-nav>.open>a {
	height: 40px;
	line-height: 40px;
    display: inline-block;
    width: 100px;
    font-family: NanumGothicBold,Malgun Gothic,Dotum,applegothic,sans-serif,arial;
    font-size: 13px;
    color: #9c9b9b;
    text-align: center;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #111;
    background-color: #fff;
}

.navbar-inverse .navbar-nav a:focus, .navbar-inverse .navbar-nav li>a:hover {
    color: #111;
    background-color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 3px;
	margin-left: 5px;
	background-color: #fff;
	/* background-image: none; */
	/* border: 1px solid transparent; */
	border-radius: 0px;
	color: #111;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #111;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}


@media (max-width: 767px) {
    .navbar-inverse {
		background-image: none;
		background-color: #fff;
		border-color: #e5e5e5;
	}

	.navbar-inverse .navbar-toggle {
		border-color: #fff;
	}
}